.App {
  text-align: center;
  background-color: cadetblue;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: aquamarine;
}

.container{
  background-color: rgb(182, 113, 23);
}
.bg-body-tertiary{
  text-decoration:underline
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
